/* src/App.css */

body {
  background-color: #73000a; /* Garnet */
  color: #ffffff; /* Black */
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #cccccc;
}

nav {
  background-color: #000000; /* Black */
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-link.active-link {
  color: #cccccc;
  border-bottom: 3px solid #ffffff;
}
