<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948827091126-u9kod3c4igeua7hgv7ksfgbm4089np0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948827091126-u9kod3c4igeua7hgv7ksfgbm4089np0q</string>
	<key>API_KEY</key>
	<string>AIzaSyC-lKHYYmgKA2Bt1qpmnNVXnlPq19GV8-o</string>
	<key>GCM_SENDER_ID</key>
	<string>948827091126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CampusConnect</string>
	<key>PROJECT_ID</key>
	<string>campusconnect-45088</string>
	<key>STORAGE_BUCKET</key>
	<string>campusconnect-45088.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948827091126:ios:bae71b50b73fb0ca9df617</string>
	<key>DATABASE_URL</key>
	<string>https://campusconnect-45088-default-rtdb.firebaseio.com</string>
</dict>
</plist>